<div class="flex justify-center my-8">
  <%= image_tag 'questionabubble_logo.svg', class: 'pr-4', alt: '' %>
  <div class="flex flex-col">
    <h1 class="font-black text-2xl">
      Questionabubble
    </h1>
    <h2 class="text-base text-sky-600">
      Answers for questionable questions
    </h2>
  </div>
</div>

