<div class="text-center">
  <nav class="inline-flex mx-auto justify-center py-3 border-t border-b ">
      <%= link_to 'Ask a question', new_question_path, class: 'px-4 text-sky-600 text-sm' %>
      <%= link_to 'All questions', questions_path, class: 'px-4 text-sky-600 text-sm' %>
  </nav>
</div>
