<div class="w-full p-8 border border-slate-300 rounded-lg mb-8 break-inside-avoid">
  <div class="text-xs mb-2 text-neutral-600 font-medium">
    <%= question_response.user.name %>'s answer:
  </div>
  <%= simple_format question_response.body %>
</div>
